<style type="text/css">
    label{
        width: 130px;
        display: inline-block;
        border: black;
    }
</style>

<body class="card" class="navbar-expand-lg navbar-light bg-light">
<div style="text-align: center;"> 
<h1>Book Form</h1>
<label for="bookId">BookId:</label>
<input [(ngModel)]='book.bookId' type="number" placeholder="Enter a BookID"/>
<br><br>
<label for="bookId">BookLogo:</label>
<input [(ngModel)]='book.bookLogo' placeholder="Enter a BookLogo URL"/>
<br><br>
<label for="bookId">Category:</label>
<input [(ngModel)]='book.category' placeholder="Enter a Book Category"/>
<br><br>
<label for="bookId">Title:</label>
<input [(ngModel)]='book.title' placeholder="Enter a Book Title"/>
<br><br>
<label for="author">Author:</label>
<input [(ngModel)]='book.author' placeholder="Enter a Author Name"/>
<br><br>
<label for="bookId">Publisher:</label>
<input [(ngModel)]='book.publisher' placeholder="Enter Book Publisher Name"/>
<br><br>
<label for="bookId">PublishedDate:</label>
<input [(ngModel)]='book.publishedDate' placeholder="dd-mm-yyyy"/>
<br><br>
<label for="bookId">Price:</label>
<input [(ngModel)]='book.price' type="number"/>
<br><br>
<label for="bookId">Content:</label>
<input [(ngModel)]='book.content' placeholder="Enter a Book content Shortly"/>
<br><br>
<div class="form-row">
    <label class="col-sm-2 col-form-label">Active:</label>
    <input name="active" type="radio" [value]=true [(ngModel)]='book.active'>True
    <input name="active" type="radio" [value]=false [(ngModel)]='book.active'>False
</div>
<button class="btn btn-primary" style="margin-left: 10%; size: 500mm;" (click)='save()'>Submit</button>
</div>
</body>