<p>
    <mat-toolbar color="primary">
      <span>Digital Books</span>
      <a mat-button routerLink='/digitalbooks' routerLinkActive="active" style="margin-right: 1%;">Create Book</a>
      <a mat-button routerLink='/digitalbooks/author' routerLinkActive="active" style="margin-right: 1%;">Author</a>
      <a mat-button routerLink='/digitalbooks/readers' routerLinkActive="active" style="margin-right: 1%;">Reader</a>

    </mat-toolbar>
  </p>
  <h2>Welcome To World of BOOKs<h2>
<!-- <nav>
    <a mat-button routerLink='/digitalbooks' routerLinkActive="active" style="margin-right: 1%;">Digital Books</a>
    <a routerLink='/digitalbooks/author' routerLinkActive="active" style="margin-right: 1%;">Save Book</a>
    
</nav> -->

<router-outlet></router-outlet>