   
    <nav class="navbar navbar-expand navbar-light"  style="background-color: rgb(44, 162, 218);">
      <a class="navbar-brand">Digital Books</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="digitalbooks/author">Search Books</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="digitalbooks">CreateBooks</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="digitalbooks/readers">Get Books</a>
        </li>
      </ul>
  
  <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a class="nav-link"  routerLink="digitalbook/signup">Sign Up</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" style="margin-left: 10%;" routerLink="digitalbooks/signin">Login</a>
      </li>
  </ul>

  <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
  </ul>
  </nav>

<div class="container">
  <router-outlet></router-outlet>
</div>