<h2>Book Form</h2>
<style type="text/css">
    label{
        width: 130px;
        display: inline-block;
    }
</style>
<label for="bookId">BookId:</label>
<input [(ngModel)]='book.bookId' type="number"/>
<br><br>
<label for="bookId">BookLogo:</label>
<input [(ngModel)]='book.bookLogo'/>
<br><br>
<label for="bookId">Category:</label>
<input [(ngModel)]='book.category'/>
<br><br>
<label for="bookId">Title:</label>
<input [(ngModel)]='book.title'/>
<br><br>
<label for="author">Author:</label>
<input [(ngModel)]='book.author'/>
<br><br>
<label for="bookId">Publisher:</label>
<input [(ngModel)]='book.publisher'/>
<br><br>
<label for="bookId">PublishedDate:</label>
<input [(ngModel)]='book.publishedDate'/>
<br><br>
<label for="bookId">Price:</label>
<input [(ngModel)]='book.price' type="number"/>
<br><br>
<label for="bookId">Content:</label>
<input [(ngModel)]='book.content'/>
<br><br>
<label for="bookId">Active:</label>
<input [(ngModel)]='book.active'/>
<br><br>
<button (click)='save()'>Submit</button>

<br><br>
<br><br>
<h1>List Of Books</h1>
<div style="text-align: center;">
<table style="text-align: justify;" border="1">
    <thead style="background-color: rgb(97, 228, 141);">
        <tr>
            <th>BookId</th>
            <th>BookLogo</th>
            <th>Category</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>PublishedDate</th>
            <th>Price</th>
            <th >Content</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let book of books'>
            <td style="background-color: rgb(206, 236, 214);"><span>{{book.bookId}}</span></td>
            <td style="background-color: rgb(206, 236, 214);"><span>{{book.bookLogo}}</span></td>
            <td style="background-color: rgb(206, 236, 214);"><span>{{book.category}}</span></td>
            <td style="background-color: rgb(206, 236, 214);"><span>{{book.title}}</span></td>
            <td style="background-color: rgb(206, 236, 214);"><span>{{book.author}}</span></td>
            <td style="background-color: rgb(206, 236, 214);"><span>{{book.publisher}}</span></td>
            <td style="background-color: rgb(206, 236, 214);"><span>{{book.publishedDate}}</span></td>
            <td style="background-color: rgb(206, 236, 214);"><span>{{book.price}}</span></td>
            <td style="background-color: rgb(206, 236, 214);"><span>{{book.content}}</span></td>
            <td style="background-color: rgb(206, 236, 214);"><span>{{book.active}}</span></td>
        </tr>
    </tbody>
    </table>
</div>
