
<div>
    <style type="text/css">
        label{
            width: 130px;
            display: inline-block;
            margin-left: 1%;
        }
    </style>
    <p style="margin: 1%;">Search Books</p>
    <label>ReaderMailId:</label>
    <input [(ngModel)]='readerMailId' placeholder="Enter a Book Title"/>
    <br><br>
    <label>BookId:</label>
    <input [(ngModel)]='bookId' type="number" placeholder="Enter a bookId"/>
    <br><br>
<button class="btn btn-primary" style="margin-left: 10%; size: 500mm;" (click)='search()'>Search</button>
</div>
<form action="center"></form>
<div *ngIf="book1.length>0; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <h1>List Of Books</h1>
<div style="text-align: center;">
<table class="table table-bordered"  style="text-align: justify;" border="1" >
    <thead style="background-color: rgb(97, 228, 141);">
        <tr>
            <th>BookId</th>
            <th>BookLogo</th>
            <th>Category</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>PublishedDate</th>
            <th>Price</th>
            <th>Content</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let book of book1'>
            <td style="background-color: rgb(206, 236, 214);"><span>{{book1.bookId}}</span></td>
            <td style="background-color: rgb(206, 236, 214);"><span>{{book1.bookLogo}}</span></td>
            <td style="background-color: rgb(206, 236, 214);"><span>{{book1.category}}</span></td>
            <td style="background-color: rgb(206, 236, 214);"><span>{{book1.title}}</span></td>
            <td style="background-color: rgb(206, 236, 214);"><span>{{book1.author}}</span></td>
            <td style="background-color: rgb(206, 236, 214);"><span>{{book1.publisher}}</span></td>
            <td style="background-color: rgb(206, 236, 214);"><span>{{book1.publishedDate}}</span></td>
            <td style="background-color: rgb(206, 236, 214);"><span>{{book1.price}}</span></td>
            <td style="background-color: rgb(206, 236, 214);"><span>{{book1.content}}</span></td>
            <td style="background-color: rgb(206, 236, 214);"><span>{{book1.active}}</span></td>
        </tr>
    </tbody>
    </table>
</div>
</ng-template>
<ng-template #elseBlock>{{message}}</ng-template>
